.content{
	/*padding:0 10px 0 10px;*/
	
}
.article{
	background:#fff;
	padding: 0;
	color:#555;
	box-shadow: 3px 3px 15px #eee;
	margin-bottom:10px;
}

.article-wraper{
	padding:0 !important;
}
.article a{
	color: #4078c0;
}
.article-title{
	background-color: #f5f5f5;
	padding: 8px 8px 0;
	border:1px solid #eee;
	border-bottom-color: #efefef;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
	font-size: 18px;
	margin:0;
}
.article-content{
  margin:0;
  color:#888;
  border: 1px solid #eee;
  border-top: 0;
 /* border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;*/
}
._article-content{
	padding: 10px;
}

.article-readmore{
	border: 1px solid #eee;
	border-top:0;
	padding:5px;
}

.article-readmore a{
	color:#aaa;
}

.article-readmore a:hover{
	color:#4078c0;
	text-decoration:none;
}