{% extends 'layout.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="./css/index.css">
{% endblock %}

{% block content %}
<!--Header-->
<div class="header">
  <div class="container">
    <div class="title">
      <a class="glyphicon glyphicon-home" href="/"></a>
    </div>
    <!-- <div class="title">{{title}}</div> -->
    {% if !session.user %} 
    <div class="header-right">
      <a href="user/signin">登录</a>
      <a href="user/signup">注册</a>
    </div>
    {% endif %}
    {% if session.user %}
    <div class="header-right">
      <a href="admin">后台</a>
      <a href="user/logout">退出</a>
    </div>
    {% endif %}
  </div>
</div>
<!--Navigation-->
<nav class="nav_main">
  <div class="container">
    <ul class="top_nav">
      <li>CODING</li>
      <li>LIFE</li>
    </ul>
  </div>
</nav>
<div class="content container"> 
   <div class="article-wraper col-md-8">
  {% for article in articles %}
    <div class = "article">
        
      <div class="article-title">
        <a class="article-title-link" href='/article/{{ article._id|json_encode }}'>{{ article.title }}</a> 
      </div>
      <div class="article-content"> 
        <div class="_article-content">{{ article.content }}</div>
      </div>
      <div class="article-readmore"><a class="article-title-link" href='/article/{{ article._id|json_encode }}'>> Read More</a></div>
     
    </div>
   
  {% endfor %}
  </div>
  {% parent %}
  
</div>
<script type="text/javascript"> 
  $(function() {
    $(".article-title-link").each(function(){
      var url = $(this).attr("href").replace(/"/g,"")
      $(this).attr("href",url)
    })  
    $("._article-content").each(function(){
      $(this).html($("<textarea/>").html($(this).html()).val())
      $(this).html($(this).html().slice(0,100))

    })
    
   
  })
</script>
{% endblock %}

{% block foot %}
 {% parent %}

 {% endblock %}

			
