body {
  background-color: #ffb66f;
}
.header {
  width: 100%;
  height: 55px;
  color: #efefef;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.header a:hover{
  text-decoration: none;
}
.container{
  width:980px;
  margin-right: auto;
  margin-left: auto;
}
.title {
  display: inline-block;
  position: relative;
  width: 300px;
  margin: 0 auto;
  font-family: "黑体";
  line-height: 55px;
  font-size: 26px;
  color: #efefef;
}

.header-right {
  /*display: inline-block;*/
  position: absolute;
  height:55px;
  width:200px;
  right: 0;
  top:0;
  text-align: center;

}
.header-right a{
  line-height: 55px;
  font-size: 20px;
}
.nav_main_content {
  width: 978px;
  margin: 0 auto;
}
.top_nav {
  font-size: 0;
  height: 30px;
  background-color: #ffffff;
}
.top_nav li {
  color: #b3a696;
  width: 20%;
  font-size: 14px;
  padding: 0 10px 0 10px;
  line-height: 30px;
  border-right: 1px solid #b3c6b6;
  text-algin: center;
  display: inline-block;
}
.top_nav li:hover {
  color: #f9a646;
  background-color: #efefef;
  cursor: pointer;
}
